@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  letter-spacing: -0.02em;
}

p {
  line-height: 1.6;
}

body {
  background-color: #000;
  color: #fff;
  background-image:
    radial-gradient(circle at top, rgba(255,255,255,0.05), transparent 45%),
    radial-gradient(circle at bottom, rgba(255,255,255,0.02), transparent 55%);
}